.teacherHeader{
    display: flex;
}

.teacherHeader > div:first-child{
    width: 13%;
    height: 100vh;
    background: black;
}

.logo_box{
    width: 100%;
    height: 15%;
}

.logo_box > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_box_icons{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    overflow-y: auto;
}

.main_icon_box{
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_icon_link{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.main_icon_link:hover{
    background: rgb(103, 103, 103);
}

.active_icon_style{
    background: rgb(103, 103, 103);
}

.main_icon_heading{
    font-size: 14px;
    font-weight: 500;
}

.teacherHeader > div:last-child{
    width: 87%;
}

.header_teacher_cabinet{
    width: 100%;
    height: 70px;
    color: white;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 58, 116);
}

.header_box{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.router_name{
    font-size: 20px;
    font-weight: 500;
    width: 10%;
}

.header_control_icons_box{
    display: flex;
    justify-content: space-around;
    width: 17%;
}

.header_icon_box{
    padding: 5px 7px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.header_icon_box > span{
    color: black;
}

.profile_box{
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.avatar_img_box{
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.user_profile_avatar{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn_change_profile{
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.btn_change_profile:hover{
    color: aliceblue;
}

.profile_settings_box{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -400%;
    right: -260%;
}

.btn_change_profile:hover > div{
    display: flex;
}

.profile_settings{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.figure_settings{
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid black;
}

.profile_settings > div{
    width: 100%;
    padding: 5px 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_settings > div:hover{
    background: gray;
    cursor: pointer;
}

.profile_settings > div > div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.profile_settings_text{
    font-size: 12px;
    text-align: center;
}

.logout_icon{
    color: red;
}

.sidebar_teacher_box{
    height: 100vh;
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background: white;
    border-radius: 5px 0 0 5px;
    transition: 1s;
}

.shadow{
    width: 100%;
    cursor: pointer;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    z-index: 1;
    opacity: 0.7;
    display: none;
}


.profile_change_container{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.change_profile_box{
    width: 40%;
    height: 60%;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.change_profile_box > span{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 30px;
}

.change_profile_box > form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input_profile_avatar_box{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_img_edit{
    width: 20%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.profile_img_edit  input{
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
}

.img_edit_label{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.avatar_profile_img_box{
    width: 18%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.avatar_profile_img_box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input_avatar{
    padding: 10px 0;
    outline: none;
}

.input_password{
    width: 80%;
    border: 1px solid gray;
    padding: 10px 5px;
    outline: none;
}

.btn_submit_change_profile{
    color: white;
    background: black;
    width: 80%;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn_submit_change_profile:hover{
    background: gray;
    transition: 0.5s;
}

.profile_shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    background: black;
    cursor: pointer;
    z-index: -1;
}