.students_info_productivity_box{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.students_info_box{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    padding: 20px 5px;
    background: rgb(224, 224, 224);
}

.students_info_icon{
    font-size: 30px;
    width: 50%;
}

.students_info_text_box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groups_day_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groups_day_box > div{
    width: 40%;
    background: rgb(225, 225, 225);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.groups_day_box > div > div{
    width: 50%;
    padding: 15px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.groups_box{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.groups_box > div{
width: 15%;
padding: 15px 0;
display: flex;
align-items: center;
justify-content: space-around;
background: rgb(187, 186, 186);
border-radius: 15px 15px 0 0;
cursor: pointer;
}

.journal{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-y: auto;
}

.select_month{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
    margin: 10px 0;
}


.popup_journal_container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.popup_journal_container > div{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journal_shadow_box{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.journal_choose_state_box{
    width: 40%;
    height: 60%;
    background: white;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    
}

.journal_choose_state_box > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.journal_choose_state_box select{
    width: 90%;
    padding: 10px 0;
    outline: none;
}

.journal_choose_state_box textarea{
    width: 90%;
    outline: none;
    padding: 5px;
}

.student_journal_data_btn{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.student_journal_data_btn > button{
    outline: none;
    padding: 10px 20px;
    color: white;
    background: black;
    cursor: pointer;
    border: none;
}

.student_journal_data_btn > button:hover{
    background: gray;
    transition: 0.5s;
}

.journal td{
    padding: 5px;
    border: 0.5px solid rgb(193, 193, 193);
}

.student_name{
    width: 25%;
}

.journal td > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.journal_circle{
    border-radius: 50%;
   padding: 10px 15px;
   cursor: pointer;
}

.journal td img{
    width: 20%;
    height: 5%;
    object-fit: cover;
    border-radius: 50%;
}