.main-container{
    width: 100%;
    height: 87vh;
    background-image: url(../../images/main-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box{
    width: 70%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.application-box{
    width: 40%;
    height: 100%;
    display: flex;
    padding: 20px 25px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(52, 52, 52, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.application-box > div{
    width: 100%;
}

.main-btn-box{
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.main-btn{
    width: 90%;
    background: black;
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 20px 0;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: black;
    opacity: 0.7;
}

.registration-application-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
}

.registration-application-container > div:last-child{
    width: 90%;
    height: 70%;
    position: relative;
    z-index: 1;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.application-box-top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.application-box-top > p{
    font-size: 22px;
    margin-bottom: 30px;
    color: #363435;
    font-weight: 500;
    max-width: 300px;
}

.application-box-top > i{
    font-size: 30px;
}

.application-box-top > i:active{
    color: red;
    cursor: pointer;
}

.form-register-popup{
    height: 80%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-register-popup > input{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #969696;
    padding: 19px;
    letter-spacing: -1px;
    width: 100%;
    outline: none;
}

.application-box  h2{
    color: white;
    max-width: 260px;
}

.application-box  p{
    color: white;
    max-width: 260px;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

.application-box input{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #969696;
    padding: 19px;
    letter-spacing: -1px;
    width: 100%;
    outline: none;
}

.application-box > form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.btn-submit-application{
    width: 100%;
    padding: 19px 0;
    font-weight: 500;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.social-network-apps-box{
    position: fixed;
    right: -10%;
    z-index: 2;
    width: 15%;
}


.social-network-apps-box > div{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(52, 52, 52, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 1s;
    display: flex;
}

.app-name{
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.app-name > a{
    color: white;
}

.app-icon{
    width: 30%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.call-box{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
}

.call-box > div{
    background-color: rgba(52, 52, 52, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    cursor: pointer;
    margin: 0 5px;
}

.call-box > div:first-child{
    color: white;
    transform: rotate(-90deg);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-box > div:last-child{
    padding: 20px 22px;
    border-radius: 50%;
}

.call-box a{
    color: white;
    font-size: 20px;
}

#about{
    text-align: center;
    font-weight: 700;
    padding: 50px 0;
    font-size: 30px;
}

.about-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 80vh;
    width: 80%;
    grid-gap: 10px;
    margin: 10px auto;
}

.about-box > div{
    background: rgb(230, 230, 230);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.icon-aboutus-box > i{
    font-size: 35px;
    padding: 10px 15px;
    background: white;
    border-radius: 5px;
}

.about-box > div > div{
    width: 90%;
    display: flex;
    justify-content: center;
}

.about-box > div h3, p{
    text-align: center;
}

.about-box > div p{
    color: #363435;
}

#team{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 50px 0;
}

.swiper-computer{
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    background: white;
}

.swiper-computer > *{
    height: 100%;
    width: 100%;
}

.carousel-slide-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.teacher-img-box{
    width: 100%;
    height: 87%;
}

.teacher-img-box img{
height: 100%;
width: 100%;
object-fit: contain;
}


.teacher-name-box{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13%;
}

.span-decoration-border{
    height: 70%;
    padding: 0 5px;
    background: black;
}

.swiper-tablet{
    display: none;
    height: 100vh;
    margin: 0 auto;
    width: 90%;
    background: white;
}

.swiper-tablet > *{
    width: 100%;
    height: 100%;
}

.swiper-phone{
    display: none;
    margin: 0 auto;
    background: white;
}

.swiper-phone > *{
    width: 100%;
    height: 100%;
}

#price{
    text-align: center;
    font-weight: 700;
    padding: 50px 0;
    font-size: 30px;
}

.price-data-box{
    width: 90%;
    height: 80vh;
    border: 1px solid gray;
    margin: 0 auto;
}

.price-data-box > div{
    width: 100%;
}

.price-group-choices{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choices-box{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
}

.choices-box > div{
width: 50%;
cursor: pointer;
padding: 10px 0;
box-shadow: 0px 0px 5px gray;
display: flex;
justify-content: center;
align-items: center;
}

.choices-box span{
    font-size: 25px;
    font-weight: 600;
}

.main-slide-box{
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
}

.main-slide-box > div{
    min-width: 100%;
    height: 100%;
    display: flex;
}

.condition-ul{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.condition-ul > li{
    width: 90%;
}

.picture-condition-box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.picture-condition-box > img{
    width: 80%;
    height: 50%;
    object-fit: contain;
}

.register-container{
    width: 100%;
    height: 50vh;
    background: rgb(43, 46, 88);
    color: white;
    margin-top: 50px;
}

.register-container > div:first-child{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container > div:first-child > div:first-child{
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}

.register-container > div:first-child > div:last-child{
    width: 40%;
    display: flex;
    justify-content: center;
}

.register-container > div:first-child h3{
    max-width: 73%;
}

.register-container > div:first-child b{
    max-width: 73%;
}

.register-input-box{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-input-box > form{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.register-input-box > form > input{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #969696;
    padding: 19px 5px;
    width: 27%;
    letter-spacing: -1px;
    background: none;
    border: 1px solid white;
    outline: none;
}

.register-input-box > form > button{
    width: 27%;
    padding: 19px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.register-input-box > form > button:hover{
    background: gray;
    transition: 0.5s;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

@media only screen and (max-width: 1000px){
    .swiper-computer{
        display: none;
    }
    .swiper-tablet{
        display: block;
    }
}

@media only screen and (max-width: 770px){
    .register-box{
        display: none;
    }
    .social-network-apps-box{
        min-width: 22%;
        right: -15%;
    }
    .app-name{
        font-size: 17px;
    }
    
    .app-icon{
        font-size: 20px;
    }
    .main-btn-box{
        display: flex;
    }
    #about, #team, #price{
        font-size: 25px;
    }
    .about-box{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .swiper-computer{
        display: none;
    }
    .swiper-tablet{
        display: none;
    }
    .swiper-phone{
        display: block;
        height: 70vh;
    }
    .choices-box{
        width: 100%;
        height: 100vh;
    }
    .choices-box span{
    font-size: 22px;
    font-weight: 600;
}
    .condition-ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .condition-ul > li{
        width: 80%;
    }
    .register-container{
        height: 130vh;
    }
    .register-container > div:first-child{
        height: 50%;
    }
    .register-container > div:last-child{
        height: 50%;
    }
    .register-input-box > form{
        flex-direction: column;
    }
    .register-input-box > form >  input{
        width: 100%;
    }
    .register-input-box > form >  button{
        width: 100%;
    }
    .register-container > div:first-child h3{
        max-width: 73%;
        font-size: 20px;
    }
    
    .register-container > div:first-child b{
        max-width: 90%;
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 500px){
    #about, #team, #price{
        font-size: 20px;
    }
    .social-network-apps-box{
        min-width: 35%;
        right: -23%;
    }   
    .about-box{
        height: 220vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .call-box > div:first-child{
        padding: 10px;
    }
    
    .call-box > div:last-child{
        padding: 10px 12px;
    }    
    .swiper-computer{
        display: none;
    }
    .swiper-tablet{
        display: none;
    }
    .swiper-phone{
    height: 90vh;
    }
    .price-data-box{
        height: 140vh;
    }
    .choices-box > div{
        box-shadow: none;
        border: 1px solid gray;
    }
    .choices-box span{
        font-size: 18px;
        font-weight: 600;
    }
    .register-container > div:first-child {
        flex-direction: column;
    }
    .register-container > div:first-child > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .register-container > div:first-child > div:first-child{
        width: 100%;
    }
    .register-container > div:first-child h3{
        max-width: 100%;
        font-size: 16px;
    }
    .register-container > div:first-child > div:last-child{
        width: 100%;
    }
    .register-container > div:first-child b{
        max-width: 90%;
        font-size: 13px;
    }
}